/*project colors*/
/*global font rules*/
/*background colors*/
/* Breakpoints */
.container {
  min-width: 280px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    min-width: 768px; } }

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    min-width: 1200px; } }

/*Open Sans Regular*/
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans.woff2") format("woff2"), url("../../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

/*Open Sans Light*/
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensanslight.woff2") format("woff2"), url("../../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

/*Open Sans Bold*/
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensansbold.woff2") format("woff2"), url("../../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
  font-size: 14px;
  color: #283645;
  background-color: #fff;
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.page-header {
  background-color: #1d2631; }

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(29, 38, 50, 0.5);
  padding: 0 20px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-header__logo {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto; }

.page-header__logo--tablet {
  display: none; }

.page-header__logo--desktop {
  display: none; }

@media (min-width: 768px) {
  .page-header__logo {
    min-height: 110px; }
  .page-header__logo-image {
    width: 150px;
    height: 45px; } }

@media (min-width: 1200px) {
  .page-header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1200px;
    margin: 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .page-header__logo {
    margin-right: 165px; } }

.main-navigation {
  width: 120%; }

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-navigation__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 0;
  display: block;
  width: 50px;
  height: 24px;
  background-color: #1d2632;
  cursor: pointer;
  border: none; }

@media (min-width: 320px) and (max-width: 1200px) {
  .main-navigation--closed .main-navigation__toggle::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
            box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }
  .main-navigation--opened .main-navigation__toggle {
    top: 20px;
    right: 20px; }
    .main-navigation--opened .main-navigation__toggle::before, .main-navigation--opened .main-navigation__toggle::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 4px;
      background-color: #ffffff; }
    .main-navigation--opened .main-navigation__toggle::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .main-navigation--opened .main-navigation__toggle::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .main-navigation--nojs .main-navigation__toggle {
    display: none; }
  .main-navigation--closed .site-list__item {
    display: none; } }

@media (min-width: 768px) {
  .main-navigation__toggle {
    top: 40px; }
  .main-navigation--opened .main-navigation__toggle {
    top: 40px; } }

@media (min-width: 1200px) {
  .main-navigation__toggle {
    display: none; }
  .main-navigation {
    background: none;
    width: auto; }
  .main-navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 640px;
    padding-top: 18px; } }

.promo {
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
  min-height: 400px; }
  .promo::before {
    content: '';
    display: block;
    height: 463px;
    background: url("/img/iphone-hand-mobile@1x.png") no-repeat left bottom, url("/img/bg-back-mobile@1x.jpg") no-repeat center;
    background-size: auto,cover; }
  .promo--form {
    margin-bottom: 55px; }
  .promo__download-description {
    font-weight: 300; }

.promo__button {
  color: #fff;
  font-weight: 700;
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 32px; }

.promo__downloads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  background-color: #1d2631;
  width: 280px;
  margin: 0 auto; }

.promo__download-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
  margin-bottom: 30px; }

.promo__download-description {
  font-size: 14px;
  line-height: 24px; }

.promo__description {
  display: none; }

.download-list__item {
  font-size: 0; }

.download-list__link {
  display: block;
  height: 56px;
  width: 50px; }
  .download-list__link--apple {
    background: url("/img/logo-apple.svg") no-repeat center; }
  .download-list__link--android {
    background: url("/img/logo-android.svg") no-repeat center; }
  .download-list__link--windows {
    background: url("/img/logo-microsoft.svg") no-repeat center; }

@media (min-width: 768px) {
  .promo {
    height: 620px;
    background: url("/img/iphone-hand-tablet@1x.png") no-repeat center bottom, url("/img/bg-back-tablet@1x.jpg") no-repeat center;
    background-size: 600px,cover; }
    .promo::before {
      display: none; }
  .promo__description {
    display: block;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    margin-top: 100px;
    margin-left: 50px; }
  .promo__downloads {
    background-color: transparent;
    width: 620px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .promo__download-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    max-width: 300px; }
  .promo__button {
    margin-bottom: 56px;
    width: 300px; }
  .promo__download-list {
    margin-left: 45px;
    width: 210px; } }

@media (min-width: 1200px) {
  .promo {
    background: url("/img/iphone-hand-desktop@1x.png") no-repeat 47% bottom, url("/img/bg-back-desktop@1x.jpg") no-repeat center;
    background-size: 1050px,cover;
    min-height: 748px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .promo {
      background-image: url("/img/iphone-hand-desktop@2x.png"), url("/img/bg-back-desktop@1x.jpg"); } }

@media (min-width: 1200px) {
  .promo__description {
    font-size: 50px;
    line-height: 60px; }
  .promo__button {
    font-size: 21px;
    line-height: 18px; }
  .promo__downloads {
    width: 940px; }
  .promo__button {
    margin-bottom: 60px; }
  .promo__download-list {
    margin-bottom: 60px;
    width: 250px; }
  .promo__button {
    margin-bottom: 56px;
    width: 330px; }
  .promo__download-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    max-width: 300px; } }

.advantages {
  margin-bottom: 50px; }

.advantages__title {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  min-height: 220px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.advantages__wrapper {
  background: #f2f2f2 url("/img/bg-triangle-white.svg") no-repeat center top;
  background-size: 100% 51px;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0; }

.advantages__title-span {
  margin-top: 27px;
  display: block; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 40px;
  padding-top: 65px;
  text-align: center;
  position: relative; }

.advantages__item-title {
  color: #000000;
  font-size: 18px;
  line-height: 10px; }

.advantages__item-description {
  line-height: 24px;
  font-size: 14px; }

.advantages__item {
  width: 280px;
  padding-bottom: 30px;
  margin: 0 auto; }
  .advantages__item--screen-2 {
    background-image: url("/img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    padding-bottom: 345px;
    background-position: 45%  bottom; }

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 60px; }
  .advantages__list {
    background-image: url("/img/iphone-screen-2-tablet@1x.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 700px;
    background-position: left bottom; }
  .advantages__title {
    min-height: 250px;
    width: 600px;
    font-size: 40px;
    line-height: 48px; }
  .advantages__item {
    width: 310px;
    margin: 0;
    margin-left: 310px;
    text-align: left; }
    .advantages__item--screen-2 {
      background-image: none;
      padding-bottom: 55px; } }

@media (min-width: 1200px) {
  .advantages {
    margin: 0; }
  .advantages__title {
    min-height: 330px;
    width: 735px;
    font-size: 50px;
    line-height: 58px; }
  .advantages__title-span {
    width: 725px; }
  .advantages__list {
    width: 1200px;
    margin: 0 auto;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 340px;
    padding-bottom: 85px; }
  .advantages__item {
    position: relative;
    margin: 0;
    text-align: center;
    width: 240px; }
    .advantages__item::before {
      content: "";
      left: -23px;
      top: -328px;
      background: url("/img/iphone-screen-1-desktop@1x.png") no-repeat;
      width: 300px;
      height: 300px;
      position: absolute; }
    .advantages__item::after {
      content: "";
      left: -23px;
      top: -328px;
      width: 300px;
      height: 300px;
      position: absolute; }
    .advantages__item--screen-1::after {
      background: url("/img/iphone-screen-2-desktop@1x.png") no-repeat; }
    .advantages__item--screen-2::after {
      background: url("/img/iphone-screen-3-desktop@1x.png") no-repeat; }
  .advantages__item-title {
    font-size: 30px;
    line-height: 30px; }
  .advantages__item-description {
    line-height: 30px;
    font-size: 18px;
    position: relative; } }

.diagram {
  display: none; }

@media (min-width: 768px) {
  .diagram__wrapper {
    width: 700px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .diagram {
    display: block;
    margin-bottom: 110px; }
  .diagram__timer {
    position: relative;
    width: 240px;
    height: 280px;
    margin-right: 73px; }
    .diagram__timer::before {
      content: "24";
      position: absolute;
      top: 27%;
      left: 64px;
      font-size: 96px;
      line-height: 149.47px;
      color: #d22856;
      font-weight: 700;
      display: block; }
  .diagram__timer-icon {
    width: 238px;
    height: 275px; }
  .diagram__description-block {
    width: 300px; }
  .diagarm__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700; }
  .diagram_research-link {
    color: #d22856;
    text-decoration: underline; } }

@media (min-width: 1200px) {
  .diagram {
    background-color: #f2f2f2;
    padding-bottom: 66px;
    margin-bottom: 200px; }
  .diagram__wrapper {
    width: 1200px; }
  .diagram__description-block {
    width: 530px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .diagram__timer {
    width: 303px;
    height: 352px; }
    .diagram__timer::before {
      font-size: 120px;
      line-height: 186.64px;
      top: 29%;
      left: 85px; }
  .diagram__timer-icon {
    width: 303px;
    height: 352px; }
  .diagarm__title {
    line-height: 30px; }
  .diagram__description {
    font-size: 18px;
    line-height: 30px; }
  .diagram_research-link {
    font-size: 18px; } }

.reviews__wrapper {
  margin: 0 auto;
  width: 280px; }

.reviews__list {
  margin-bottom: 45px; }

.reviews__text {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-weight: 400; }

.reviews__item {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
  .reviews__item--2, .reviews__item--3 {
    display: none; }

.reviews__author-name {
  line-height: 30px;
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 0; }
  .reviews__author-name--top {
    margin-bottom: 35px; }

.reviews__author-age--top {
  display: none; }

.reviews__toggles {
  text-align: center;
  margin-bottom: 45px; }

@media (min-width: 768px) {
  .reviews__author-name {
    font-size: 20px; }
  .reviews__text {
    font-size: 18px; }
  .reviews__wrapper {
    width: 700px; }
  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .reviews__author-name--top {
    margin: 0;
    margin-top: 50px; }
  .reviews__author-age {
    display: block;
    margin: 0;
    margin-top: 10px; } }

@media (min-width: 1200px) {
  .reviews__author-name {
    font-size: 24px; }
  .reviews__author-age {
    font-size: 18px;
    line-height: 30px; } }

.table-price {
  padding-top: 90px;
  margin-bottom: 50px;
  background: #f2f2f2 url("/img/bg-triangle-white.svg") no-repeat center top;
  background-size: 100% 51px;
  width: 100%;
  height: 100%; }

.table-price__list {
  margin: 0 auto;
  margin-bottom: 40px; }

.table-price__body {
  background-color: #fff; }

.table-price__value {
  border: 2px solid #e5e5e5;
  background-color: #283645;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px; }
  .table-price__value--empty {
    background-color: #f2f2f2;
    border: none;
    border-bottom: 2px solid #e5e5e5; }
  .table-price__value--hidden {
    display: none; }

.table-price__rates {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px; }

.table-price__toggles {
  text-align: center;
  padding-bottom: 50px; }

.table-price__item {
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-top-width: 2px;
  border-top-width: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  color: #283645; }
  .table-price__item--hidden {
    display: none; }

.table-price__feature-status {
  background: url("/img/icon-yes.svg") no-repeat center;
  background-size: 30px;
  background-position: 93% 50%;
  display: block; }

.contacts {
  width: 280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.contacts__questions {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  margin-bottom: 45px; }

.contacts__item {
  padding-bottom: 35px; }

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 15px; }

.contacts__phone {
  color: #d22856;
  margin: 0;
  font-size: 24px;
  font-weight: 300; }

.contacts__mail {
  color: #d22856;
  font-size: 24px;
  font-weight: 300; }

.contacts__info {
  color: #d22856;
  margin: 0;
  font-size: 24px;
  font-weight: 300; }

@media (min-width: 768px) {
  .contacts {
    width: 700px;
    display: block; }
  .contacts__questions {
    margin-bottom: 60px;
    line-height: 50px;
    font-size: 40px;
    font-weight: 300; }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts__item {
    padding-bottom: 30px; }
    .contacts__item--phone {
      width: 50%; }
    .contacts__item--write-us {
      width: 50%; }
    .contacts__item--visit-us {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }

@media (min-width: 1200px) {
  .contacts {
    width: 1200px;
    display: block; }
  .contacts__questions {
    font-size: 50px; }
  .contacts__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto; }
    .contacts__item--write-us {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }

.map {
  position: relative;
  overflow: hidden;
  height: 200px;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .map {
      height: 373px; } }
  @media (min-width: 1200px) {
    .map {
      height: 501px; } }
  .map::before {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 33px;
    background-image: url("/img/bg-triangle-white-footer.svg");
    background-size: 100% 33px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    fill: #fff; }
  @media (min-width: 768px) {
    .map {
      height: 67px;
      background-size: 100% 67px; } }
  @media (min-width: 1200px) {
    .map {
      height: 104px;
      background-size: 100% 104px; } }

.map__image {
  position: absolute;
  top: -222%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 320px; }
  @media (min-width: 768px) {
    .map__image {
      top: -93%;
      width: 700px; } }
  @media (min-width: 1200px) {
    .map__image {
      top: -53%;
      width: 1200px; } }

.map__marker {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  width: 35px;
  height: 35px;
  background-image: url("/img/icon-map-marker.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat; }

.map__interactive {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.prize-form__title {
  margin-bottom: 60px; }

.field__item {
  color: #d22856;
  margin-bottom: 15px;
  line-height: 30px; }

.field__input[type="text"] {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  text-align: center; }

.page-footer {
  display: none; }

.page-footer__logo {
  -ms-flex-item-align: center;
      align-self: center; }

@media (min-width: 768px) {
  .page-footer {
    width: 700px;
    margin: 0  auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (min-width: 1200px) {
  .page-footer {
    width: 1200px; } }

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }

.social-list__item {
  font-size: 0; }

.social-list__link {
  border: 3px solid rgba(40, 54, 69, 0.1);
  display: block;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  margin-right: 12px; }
  .social-list__link--youtube {
    margin: 0; }
  .social-list__link:hover {
    background-color: #fefefe;
    border-color: #283645; }

.social-list__icon {
  fill: #d22856;
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .social-list__icon--twitter {
    width: 18px;
    height: 14px; }
  .social-list__icon--facebook {
    width: 9px;
    height: 18px; }
  .social-list__icon--youtube {
    width: 15px;
    height: 13px; }

.site-list__item {
  text-align: center; }

.site-list__link {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid #475360;
  border-bottom: 1px solid #000001;
  padding: 25px 70px; }

@media (min-width: 1200px) {
  .site-list__link {
    padding: 0;
    border: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none; } }

.button {
  display: inline-block;
  background-color: transparent;
  border: none;
  border: 4px solid #ffffff;
  padding: 20px 38px;
  border-radius: 60px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }

.copyright__text {
  line-height: 18px; }

.copyright__link {
  font-size: 0;
  position: relative; }
  .copyright__link::before {
    content: "";
    background: url("/img/htmlacademy.svg") no-repeat bottom;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -2px;
    top: 10px; }

/*# sourceMappingURL=style.css.map */
