/*project colors*/
$white: #fff;
$font-color:#283645;
$black: #000000;
$grey:#f2f2f2;
$adress-color:#d22856;


/*global font rules*/
$fonts:"Open Sans", "Arial", sans-serif;
$font-size: 14px;
$line-height: 24px;

/*background colors*/
$page-header-color:#1d2631;

/* Breakpoints */
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi:144dpi;
$retina-dppx:1.5dppx;

