
.prize-form__title{
  margin-bottom: 60px;
}
.field__item{
  color:$adress-color;
  margin-bottom: 15px;
  line-height: 30px;
}
.field__input[type="text"]{
  color:$font-color;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
