
.main-navigation{
  width: 120%;

}
.main-navigation__list{

  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__toggle{
  position: absolute;
  top: 21px;
  right:  20px;
  z-index: 0;
  display: block;
  width: 50px;
  height: 24px;
  background-color: #1d2632;
  cursor: pointer;
  border: none;
  }

  @media(min-width:320px) and (max-width:$desktop-width){
.main-navigation--closed .main-navigation__toggle::before{
  content:"";
  position: absolute;
  top: 0px;
right: 0px;
width: 50px;
height: 4px;
background-color: #ffffff;
box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-navigation--opened .main-navigation__toggle{
top:20px;
right:20px;
&::before,
&::after{
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background-color: #ffffff;
}
&::before{
  transform: rotate(45deg);

}
&::after{
  transform: rotate(-45deg);

}
}

.main-navigation--nojs .main-navigation__toggle{
  display: none;
}

.main-navigation--closed .site-list__item{
  display: none;
}
  }

@media (min-width:$tablet-width){
  .main-navigation__toggle{
    top: 40px;
  }
  .main-navigation--opened .main-navigation__toggle{
    top:40px;
  }

}


@media(min-width:$desktop-width){
.main-navigation__toggle{
  display: none;
}
.main-navigation{
  background: none;
  width: auto;
}
 .main-navigation__list {
    display: flex;
    justify-content: space-between;
    width: 640px;
    padding-top: 18px;
    }

  }

